[submodule "site-manager-api"]
	path = site-manager-api
	url = git@github.com:paul-stevenson-designamite/local-env-test-site-manager-api.git
[submodule "site-manager-new-ui"]
	path = site-manager-new-ui
	url = git@github.com:paul-stevenson-designamite/local-env-test-site-manager-new-ui.git
[submodule "site-manager-legacy"]
	path = site-manager-legacy
	url = git@github.com:paul-stevenson-designamite/local-env-test-site-manager-legacy-ui.git
